.book_detail {
  text-align: center;
  background-color: #ffffff;
  width: fit-content;
  position: relative;
  left: 50%;
  top: 15%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 2px;
}
table {
  border: 1px solid grey;
}
#heading th {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
td {
  padding: 8px;
  text-align: center;
}
tr:nth-child(odd) {
  background-color: #f5f5f5;
  color: #000000;
}
tr:nth-child(even) {
  background-color: #c0c0c0;
  color: #000000;
}
#heading {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.add_button {
  background-color: #ffa811;
  color: #000000;
  border-style: none;
  font-weight: bold;
  box-shadow: 3px 3px 3px #000000;
}

.add_button:hover {
  background-color: #000000;
  color: #ffa811;
}
.bookTable {
  background-color: #008e97;
  color: #ffffff;
}
.book_search_input {
  border: 1px solid grey;
  border-radius: 5px;
  height: 30px;
  width: 30%;
  padding: 2px 23px 2px 30px;
  margin-bottom: 20px;
  border-style: none;
  background-color: #f5f5f5;
}
.search_label {
  border-radius: 5px;
  color: #ffffff;
  background-color: #000000;
  font-size: 20px;
}
